*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New';
}

.banner {
    width: 100%;
}

.container {
    text-align: center;
    margin: 40px;
}

.button {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(51, 200, 51);
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.button:hover {
    background-color: rgb(30, 180, 30);
}
